
.header-wraper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}
.navigation nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.navigation nav ul li {
    margin: 0 10px;
}
.navigation nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: .97rem;
}
.logo-side {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
   
}
.logo-side i {
    color: rgb(255, 81, 0);
    font-size: 1.37rem;
}
.logo-side span {
    font-family: 'Alan Sans', sans-serif ;
    color: var(--text-color);
}
.header {
    border-bottom: 1px solid var(--dark-transparent-99);
    display: flex;
    align-items: center;
}
.right-side-btns {
    display: flex;
    align-items: center;

}
.right-side-btns-wraper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.links {
    display: flex;
    align-items: center;
    gap: 6px;
}
.theme-controller-container button{
    background: var(--dark-transparent-97);
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 1000px;
    color: var(--text-color-80);
    border: 1px solid var(--dark-transparent-99);
}
.links {
    background: rgba(23, 23, 23, 0.012);
    padding: 3px 3px;
    border-radius: 1000px;
    width: 110px;
    border: 1px solid var(--dark-transparent-97);
}
.links a {
    color: var(--text-color);
    text-decoration: none;
    background: var(--dark-transparent-97);
    width: 27px;
    height: 27px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
}
.links button {
    flex: 1;
    border: none;
    padding: 5px;
    border-radius: 1000px;
    background: var(--dark-transparent-97);
    color: var(--text-color)
}
.links button span:first-child {
    margin-right: 7px;
}
.links button span:last-child {
    font-size: 1rem;
}
#TopNav .selectedTopNavItem {
    color: rgb(255, 123, 0);

}
#TopNav a {
    position: relative;
    transition: .3s;
}
#TopNav a:hover {
    color: rgb(255, 123, 0);
}
#TopNav li:hover .selectedTopNavItem{
    color: rgba(255, 98, 0, 0.708);
}

#TopNav .selectedTopNavItem::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 50%;
    border-radius: 1000px;
    background: linear-gradient(60deg,rgba(242, 105, 0, 0.853), rgba(255, 123, 0, 0.965), rgba(255, 128, 1, 0.925));
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 123, 0);
}
#Im_What {

}
