@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Text:wght@200..700&family=Varela+Round&display=swap');


:root {
    --header-height: 70px;
    --footer-height: 260px;
    --circle-size: 30px;
    --dark-transparent-v-90: rgba(58, 58, 58, 0.222);
}
:root[data-theme="light"] {
    --bg-color: rgb(253, 251, 251);
    --bg-color-light-99: rgb(250, 250, 252);
    --text-color: black;
    --text-color-80: rgba(0, 0, 0, 0.782);
    --text-color-tra-20: red ;
    --border-color: rgb(49, 49, 49);
    --dark-transparent-97: rgba(0, 0, 0, 0.083);
    --dark-transparent-98: rgba(0, 0, 0, 0.059);
    --dark-transparent-99: rgba(0, 0, 0, 0.032);
    --dark-transparent-40: rgba(0, 0, 0, 0.585);
    --dark-solid-40: rgb(238, 238, 238);
    --dark-solid-50: rgb(225, 225, 225);
    --nav-a-color: rgb(5, 109, 255);
    --nav-a-background: rgba(0, 151, 233, 0.131);
    --nav-a-border-color: rgba(0, 167, 233, 0);
    --sidebar-shadow-color: rgba(0, 0, 0, 0.196);
    --sidebar-toggle-btn: rgb(255, 255, 255);

}
:root[data-theme="dark"] {
    --bg-color: rgb(0, 0, 0);
    --bg-color-light-99: rgb(4, 4, 4);
    --text-color: rgb(255, 255, 255);
    --text-color-80: rgba(253, 253, 253, 0.745);
    --border-color: rgb(151, 151, 151); 
    --dark-transparent-97: rgba(255, 255, 255, 0.137);
    --dark-transparent-98: rgba(255, 255, 255, 0.093);
    --dark-transparent-99: rgba(255, 255, 255, 0.049);
    --dark-transparent-40: rgba(254, 254, 254, 0.539);
    --dark-solid-40: rgb(15, 15, 15);
    --dark-solid-50: rgb(28, 28, 28);
    --nav-a-color: rgb(32, 121, 255);
    --nav-a-background: rgba(20, 102, 255, 0.066);
    --nav-a-border-color: rgba(0, 89, 255, 0);
    --sidebar-shadow-color: rgb(0, 0, 0);
    --sidebar-toggle-btn: rgba(255, 255, 255, 0.163);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color .35s ease, 
    color .35s ease, 
    border-color .35s ease;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: none;
    -webkit-user-select: none;
}
body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    -webkit-user-select: none;
    background-color: var(--bg-color) !important;
}
html, body {
    transition: background-color .35s ease, 
    color .35s ease;
    scroll-behavior: smooth;
}

.header {
    grid-area: header;
    background: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 99999;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 0;
    left: 0;
    transform: translateX(-100%);
    background: var(--bg-color-light-99);
    transition: transform .4s;
    z-index: 999999999999 !important;
    box-shadow: 0 0 0 !important;
}
.main {
    grid-area: main;
    background: var(--bg-color);
    margin-top: -3px;
}
.footer {
    grid-area: footer;
    background: var(--bg-color);
  
}
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--header-height));
    width: 100%;
    color: var(--text-color);
     scroll-margin-top: 80px;
}
.hero-wraper {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin-top: -80px;
}

.my_title {
    font-size: 3.6rem;
    text-align: center;
}
.my_title_two {
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}
.text-content-data {
    font-size: 1rem;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    color: var(--dark-transparent-40);
    text-align: center;
}
.hero-btns {
    margin-top: 60px;
}
.hero-btns a {
    margin: 0 5px;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 10px;
}
.hero-btns a:first-child {
    background: linear-gradient(49deg, rgb(0, 64, 255), rgb(20, 126, 255));
    color: white;
}
.hero-btns a:last-child {
   background: var(--dark-transparent-99);
   transition: background .3s;
}
.hero-btns a:last-child:hover {
   background: var(--dark-transparent-98);
}
.text-dec1 {
    color: transparent;
    background: linear-gradient(48deg, var(--text-color-80) 20%, rgb(0, 106, 255) 40%, rgb(84, 181, 255));
    -webkit-background-clip: text;
    background-clip: text;
}
.hero-btns {
    width: 100%;
    text-align: center;
}
.my_title {
    color: transparent;
    background: linear-gradient(49deg,var(--bg-color), var(--text-color), var(--bg-color));
    -webkit-background-clip: text;
    background-clip: text;
}

.background-image {
    position: absolute;
    
}
.background-image {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 20%;
    top: var(--header-height);
    left: 0;
}
.circle {
    position: absolute;
    width: calc(var(--circle-size) * 1);
    height: calc(var(--circle-size) * 1);
    border-radius: 1000px;
    background: rgba(149, 245, 93, 0.099);
    filter: blur(15px);
    left: 4%;
    top: 150px;
}
.circle:nth-child(1) {
    width: var(--circle-size);
    height: 10px;
    left: 60%;
    top: 20px;
    background: rgba(0, 255, 255, 0.596);
    left: 0;
    top: 40px;
    width: calc( var(--circle-size) * 3);
    height: calc( var(--circle-size) * 3);
    filter: blur(70px);
}
.circle:nth-child(2) {
    width: var(--circle-size);
    height: 15px;
    left: 20%;
    top: 80px;
    background: rgba(0, 128, 255, 0.642);
}
.circle:nth-child(3) {
    width: var(--circle-size);
    height: 20px;
    left: 80%;
    top: 40px;
    background: rgba(0, 0, 255, 0.579);
}
.circle:nth-child(4) {
    width: calc( var(--circle-size) + 20px);
    height: calc( var(--circle-size) + 20px);
    left: 70%;  
    top: 90px;
    filter: blur(50px);
    background: rgba(242, 255, 0, 0.782);
}
.circle:nth-child(5) {
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    left: 20%;  
    top: 60px;
    background: rgba(255, 132, 0, 0);
}
.circle:nth-child(6) {
    width: 18px;
    height: 18px;
    left: 30%;  
    top: 20px;
    background: rgba(255, 255, 0, 0.566);
}
.circle:nth-child(7) {
    width: var(--circle-size);
    height: 25px;
    left: 40%;  
    top: 60px;
    background: rgba(255, 0, 255, 0.298);
}
.circle:nth-child(8) {
    width: var(--circle-size);
    height: 25px;
    left: 40%;  
    top: 60px;
    background: rgba(0, 153, 255, 0.43);
}
#Im_What {   
         /* inline element */  /* cursor needs this */
    opacity: 0;
    transform: translateY(8px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: relative;
     background: linear-gradient(48deg, rgb(150, 150, 150), var(--text-color), rgb(64, 64, 64));
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   height: 76px;
}

/* Super advanced cursor */

#AboutMe {
  scroll-margin-top: 70px;
}
.left-side-img img {
    width: 100%;
    max-width: 700px;
    height: 410px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid var(--dark-transparent-97);
}
.left-side-img  {
    width: 100%;
    height: 100%;
}
.about {
    display: flex;
    align-items: center;;
}
.right-side-texts {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.AboutMe-container {
    padding: 10px;
}
.aboutMe-wraper {
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 20px;
    background: var(--dark-transparent-98);
}
.right-side-texts {
    color: var(--text-color);
    border-radius: 9px;
}
.aboutMe {
    text-align: start;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 6px;

}
.about-header {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    border-radius: 10px;
}
.educap {
    text-align: center;
    font-size: 5rem;
    
}
.education {
    margin-top: 20px;
    color: var(--dark-transparent-97);
}
.right-side-text-data {
    color: var(--dark-transparent-40)
}



.btns-right-side a {
    padding: 9px 15px;
    background: var(--dark-transparent-97);
    color: var(--text-color-80);
    font-size: .9rem;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    width: 100%;
}
.btns-right-side {
    margin-top: 20px;
    text-align: center;
}


.about_me_header_top {
    position: absolute;
    color: var(--text-color-80);
    font-size: 2rem;
    text-align: start;
    background: rgba(255, 0, 0, 0);
    padding: 10px 20px;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 9px;
    top: 15px;
    left: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 6px;
}
.img-to-text {
    position: relative;
}
.education {
    padding: 10px;
    border-radius: 10px;
}
.edu-head {
    text-align: center;
    font-size: 1.1rem;
    color: var(--text-color);
    padding: 10px;
}
.school {
    position: relative;
    color: var(--text-color);
    margin-bottom: 15px;
    padding: 5px 0;
}

.school::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    border-radius: 1000px;
    background: var(--text-color);
    left: -15px;
    top: 8px;
}
.edu-body {
    margin-top: 30px;
    padding: 0 15px;
}
.school-name {
    color: rgb(255, 128, 0);
}
.year-and-gpa-in-school {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: .9rem;

}
.year-and-gpa-in-school .Category {
    display: flex;
    align-items: center;
}
.year-in-school {
    border-right: 1px solid var(--dark-transparent-40);
    padding-right: 14px;

}
.ssc-gpa {
    color: rgb(255, 128, 0);
    background: rgba(255, 0, 0, 0.168);
    padding: 6px 10px;
    border-radius: 7px;
}
.Category {
    display: flex;
    align-items: center;
    gap: 5px;

}
.Category p:nth-child(2){
    color: rgb(211, 130, 0);
}
.collage {
    position: relative;
    padding: 5px 0;
    
}
.collage::before {
    position: absolute;
    content: '';
    width: 3px;
    border-radius: 100px;
    height: 100%;
    background: rgb(0, 94, 255);
    left: -15px;
}
.icon-science {
    font-size: 1rem;
    margin-left: 30px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--dark-transparent-97)
}
.collage-name {
    color: rgb(0, 153, 255);
}
.collage-type-hsc {
    color: var(--text-color);
}
.year-and-gpa-in-collage {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 7px;
    font-size: .9rem;
}
.collage-year {
    color: var(--text-color);
    padding-right: 7px;
    border-right: 1px solid var(--dark-transparent-40);
}
.Gpa-hsc {
    color: rgb(0, 145, 255);
    background: rgba(0, 119, 255, 0.229);
    padding: 6px 10px;
    border-radius: 7px;
}
.Category-c {
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: 6px;
    font-size: .9rem;
}
.collage-name {
    padding: 4px 0;
}
.school-name {
    padding: 4px 0;
}
.Category-c p:nth-child(2) {
    color: rgb(0, 140, 255);
}
.img-about-grid-two {
    height: 160px !important;
    margin-top: 15px;
}
.img-to-text-two-wraper {
    position: relative;
    
}
.MyName {
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.634);
    box-shadow: 2px 2px 40px black;
    font-size: 1.9rem;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.projects-section {
    border-top: 1px solid var(--dark-transparent-98);
    margin-top: 40px;
}
.project-header-text-top {
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
    padding-bottom: 0;
    font-weight: 600;
    color: var(--text-color);
}
.project-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.header-projects-type {
    text-align: center;
    color: var(--dark-transparent-40);
    font-size: .9rem;
    margin-bottom: 10px;
}
.header-projects-type i {
    font-size: .76rem;
}
.project-header-text-bottom {
    padding: 10px;
    color: var(--dark-transparent-40);
    font-size: .9rem;
    text-align: center;
}
.project {
    background: var(--bg-color);
    border: 1px solid var(--dark-transparent-97);
    border-radius: 20px;
    overflow: hidden;
}
#RecentProjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    gap: 15px;
    padding: 20px;
    margin-top: 20px;
}
.project-title {
    font-size: 1.3rem;
    color: var(--text-color);
    margin: 15px;
    margin-bottom: 0;
    font-weight: bold;
}
.project-description {
    color: var(--text-color-80);
    padding: 15px;
    font-size: .9rem;
}
.Used_in_project {
    padding: 16px;
    display: flex;
    gap: 8px;
}
.Used_in_project button {
    padding: 7px 15px;
    border-radius: 1000px;
    border: none;
    background: rgb(89, 0, 255);
    color: rgb(255, 255, 255);
}
.code-view {
    padding: 15px;
    background: var(--dark-transparent-99);
    border-top: 1px solid var(--dark-transparent-99);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}
.code-view a {
    text-decoration: none;
    color: var(--text-color);
    font-size: .9rem;
}
.code-view a:nth-child(2) {
    background: rgba(80, 182, 255, 0.156);
    padding: 8px 15px;
    border-radius: 9px;
    color: rgb(5, 172, 214);
}
.code-view a:nth-child(1):hover {
    color: rgb(255, 115, 0);
}
.Used_in_project {
    display: block;
    white-space: wrap;
    
}
.Used_in_project button {
    white-space: nowrap;
    margin: 4px;
}
.header-image-wraper {
    position: relative;
}
.Stutus_Show {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Stutus_Show p {
   padding: 6px 20px;
   font-size: .9rem;
   border-radius: 1000px;
}
.Stutus_Show p.new {
   background: rgba(0, 81, 255, 0.628);
   color: white;
}
.Stutus_Show p.old {
   background: rgba(247, 0, 255, 0.628);
   color: white;
}
.Stutus_Show p.hide {
    display: none;
}
.Stutus_Show p.upcoming {
   background: rgba(255, 0, 0, 0.66);
   color: white;
}
.Stutus_Show p.featured {
   background: rgba(255, 98, 0, 0.705);
   color: white;
}
.hide_status {
    display: none;
}
.project-body-this {
    border-radius: 30px 30px 0 0;
    z-index: 99;
    border-top: 1px solid var(--dark-transparent-97);
    margin-top: 10px;
}
.contact-data {
    margin-top: 38px;
    text-align: center;
    white-space: nowrap;
    width: 0;
    height: unset;
    padding: 0px;
    overflow: hidden;
    transition: width .3s ease;
}
.contact-data.active {
    padding: 10px;
    width: 100%;
}
.contact-data a {
    text-decoration: none;
    color: var(--text-color-80);
    margin: 0 5px;
    background: var(--dark-transparent-98);
    padding: 10px;;
    border-radius: 9px;
    transition: .3s;
}
.contact-data a:hover {
    background: var(--dark-transparent-97);
}
.skills-section {
}
.skills-header .skill-head-txt {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color)
}
.skills-header {
    margin-top: 30px;
}
.skill-head-txt-two {
    color: var(--text-color-80);
    font-size: .9rem;
    text-align: center;
    margin-top: 5px;
}

.skills-body {
    margin-top: 20px;
    border-top: 1px solid var(--dark-transparent-98);
    padding: 15px;

}
.skill {
    background: var(--bg-color);
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--dark-transparent-98);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}   
.skill-slide-left {
    background: var(--dark-transparent-98);
    color: var(--text-color);
    padding: 10px;
    border-radius: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.skill-slide-right {
    background: var(--dark-transparent-99);
    padding: 12px;
    border-radius: 10px;
    flex: 2;
}
.skill-icon {
    font-size: 2.3rem;
    text-align: center;
}
.skill-title {
    text-align: center;
    font-size: 1.1rem;
}
.skill-description {
    text-align: center;
    font-size: .9rem;
    color: var(--dark-transparent-40);
}
.parsent-data {
    width: 100%;
    height: 13px;
    background: var(--dark-transparent-98);
    border-radius: 1000px;
    margin: 5px 0;
    position: relative;
    overflow: hidden;
}

.skill-parsentage-data .pro_lang {
    color: var(--text-color-80);
    font-size: .9rem;
    margin-bottom: 7px;
}
.state {
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--text-color-80);
}
.parsent {
    position: absolute;
    background: rgb(0, 153, 255);
    width: 30%;
    height: 100%;
    border-radius: 0 10px 10px 0;

}
.skill-icon {
    margin-bottom: 20px;
}
.pro_lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pro_lang span:nth-child(2){
    font-size: .8rem;
}
.parsent {
    position: relative;
}
.parsent::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 7px;
    background: var(--dark-transparent-97);
    right: -30px;
    border-radius: 100px;
    top: 50%;
    transform: translateY(-50%);
}
#SkillsIn {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}
.Contact {
    height: 100%;
    margin-top: 20px;
    border-top: 1px solid var(--dark-transparent-98);
}
.contact-header-con {
    margin-top: 20px;

}
.contact-header {
    text-align: center;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 700;
}
.contact-descreiption {
    text-align: center;
    color: var(--text-color-80);
    margin-top: 3px;
    font-size: .9rem;
    padding: 9px;
}
.contact-data-con {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0px;
}
.contact-child-con {
    padding: 5px;
    display: flex;

}
.contact-icon-con {
    background: var(--dark-transparent-98);
    border: 1px solid var(--dark-transparent-99);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px 30px;
}
.contact-icon-con i {
    font-size: 2.5rem;
}
.contact-body-section-con {
    margin-left: 10px;
    width: 100%;
    background: var(--dark-transparent-98);
    flex: 1;
    color: var(--text-color)
}
.contact-body-section-con {
    background:  var(--dark-transparent-98);
    padding: 10px;
}
.contact-body-section-con {
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.title-contact-con {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 6px;
}
.descreption-contact-con {
    font-size: .9rem;
    color: var(--text-color-80)
}
.contact-icon-con i {
    color: var(--text-color-80)
}
.link-body-con {
    margin-top: 10px;;

}
.link-body-con a {
    text-decoration: none;
    color: rgb(255, 153, 69);
    font-size: .9rem;
    transition: color .3s;
}
.link-body-con a:hover {
    color: rgb(255, 111, 0);
}
.cover {

}


.contact-child-con:nth-child(1) .contact-icon-con{
    transition: background .3s;
}
.contact-child-con:nth-child(1) .contact-body-section-con{
    transition: background .3s;
}
.contact-child-con:nth-child(1) .contact-icon-con:hover{
    background: var(--dark-transparent-97);
}
.contact-child-con:nth-child(1) .contact-body-section-con:hover{
    background: var(--dark-transparent-97);
}


.contact-child-con:nth-child(2) .contact-icon-con{
    transition: background .3s;
}
.contact-child-con:nth-child(2) .contact-body-section-con{
    transition: background .3s;
}
.contact-child-con:nth-child(2) .contact-icon-con:hover{
    background: var(--dark-transparent-97);
}
.contact-child-con:nth-child(2) .contact-body-section-con:hover{
    background: var(--dark-transparent-97);
}


.contact-child-con:nth-child(3) .contact-icon-con{
    transition: background .3s;
}
.contact-child-con:nth-child(3) .contact-body-section-con{
    transition: background .3s;
}
.contact-child-con:nth-child(3) .contact-icon-con:hover{
    background: var(--dark-transparent-97);
}
.contact-child-con:nth-child(3) .contact-body-section-con:hover{
    background: var(--dark-transparent-97);
}


.contact-child-con:nth-child(4) .contact-icon-con{
    transition: background .3s;
}
.contact-child-con:nth-child(4) .contact-body-section-con{
    transition: background .3s;
}
.contact-child-con:nth-child(4) .contact-icon-con:hover{
    background: var(--dark-transparent-97);
}
.contact-child-con:nth-child(4) .contact-body-section-con:hover{
    background: var(--dark-transparent-97);
}
.footer {
    border-top: 1px solid var(--dark-transparent-98);
}
.footer-header-p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}
.footer-header-p2 {
    text-align: center;
    font-size: 1rem;
    color: var(--text-color-80);
    padding: 4px 0;
}
.footer-wraper {
    margin: 0 10px;
    margin-top: 60px;
    background: transparent;
    padding: 10px;
    border-radius: 30px;

}
.contact-links {
    text-align: center;
    margin-top: 10px;
}
.contact-links a {
    text-decoration: none;
    color: var(--text-color-80);
    margin: 0 4px;
}
.copyright-container {
    color: var(--text-color-80);
    text-align: center;
    margin-top: 20px;
    font-size: .9rem;
}
.img-to-text-two-wraper {
    position: relative;
    width: 100%; /* always follow container */
    max-width: 600px; /* optional: image max size */
}

.img-about-grid-two {
    width: 100%;
    height: auto;
    display: block;
}

.MyName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: clamp(16px, 3vw, 32px); /* responsive text size */
    font-weight: bold;
    z-index: 10;
    pointer-events: none;
}
.selectedTopNavItem {
    color: rgb(255, 132, 0);
    font-weight: 600;
    overflow: hidden;
}
.img-to-text-two {
    overflow: hidden;
}
.img-to-text-two-wraper {
    width: 100%;
    max-width: 800px;
}
.edu-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#HideEducationBtn {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.136);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    cursor: pointer;
}
#HideEducationBtn:hover {
    background:  rgba(255, 255, 255, 0.155);
}
.edu_head_text {
    font-size: 1rem;
    font-weight: 400;
}
.mark-purple {
    background: rgba(157, 0, 255, 0.261);
    padding: 3px;
}
.mark-blue {
    background: rgba(0, 81, 255, 0.307);
    padding: 3px;
    color: var(--text-color)
}
.mark-orange {
    background: rgba(255, 174, 0, 0.262);
    padding: 3px;
    color: var(--text-color)
}
.mark-white {
    background: rgba(255, 255, 255, 0.287);
    padding: 3px;
    color: var(--text-color)
}
.mark-red {
    background: rgba(255, 0, 0, 0.234);
    padding: 3px;
    color: var(--text-color)
}
.right-side-text-data {
    line-height: 24px;
}

.about {
    display: flex;
    flex-direction: column;
}
.aboutMe-wraper {
    background: transparent;
}
.AboutMe {
    background: var(--dark-transparent-98);
}
.about_me_down_content {
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
}
.later {
    background: rgba(0, 171, 168, 0.685);
    color: white;
}
#themeBtn {
    border: 1px solid transparent !important;
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
}
#menuToggler {
    background: transparent !important;
    font-size: .9rem;
}
.links {
    background: rgba(250, 250, 250, 0);
    border: none;
}
.links button {
    padding: 5px;
}
.links a {
    padding: 14.8px !important;
}
#overly {
    background: var(--dark-transparent-99) !important;
}
.logo-side {
    text-decoration: none;
    color: var(--text-color);
}
.contact-icon-con {
    text-decoration: none;
}
.code-view a:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 5px
}
.code-view a:nth-child(2) i{
    font-size: .9rem;
}
#AboutMeimageSlide {
    height: 100%;
    position: relative;
}
#AboutMeImage img {
    width: 100% !important;
}

.imageSlideBtns {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgb(0, 0, 0);
    padding: 7px;
    border-radius: 100px;
}
.imageSlideBtns button {
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.42);
    cursor: pointer;
}
.imageSlideBtns button.active {
    background: white;
}
.img-to-text {
    position: relative;
}
.about_me_header_top {
    position: absolute;
    background: rgba(0, 0, 0, 0.873);
    z-index: 999;
    border: none;
}
#AboutMeImage {
    height: 45vh;
    overflow: hidden;
    transition: all .3s ;
}
#AboutMeImage img {
    height: 100%;
    border: none;
    transform: translateX(0);
    transition: transform 2s ease;
}
#AboutMeImage .rightHide {
    animation: slideRight 0.5s ease forwards;
}

@keyframes slideRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
#AboutMeImage img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.slideOut {
    animation: outRight 0.5s forwards;
}
.slideIn {
    animation: inLeft 0.5s forwards;
}
@keyframes outRight {
    from { transform: translateX(0); }
    to   { transform: translateX(100%); }
}

@keyframes inLeft {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }
}
.btnCompress {
    width: 5px !important;
    height: 5px !important;
    border-radius: 100px;
}
.contact-data a {
    background: transparent;
}
.skill{
    border: 1px solid transparent !important;
    padding: 0 !important;

}
.moreBtn {
    font-size: .8rem;
    background: transparent;
    color: var(--text-color);
    border: none;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}
.moreBtn.hide {
    display: none;
}
.upcoming-status {
    position: relative;
}
.upcoming-status::after{
    position: absolute;
    content: "";
    right: -20px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: rgba(220, 0, 0, 0.415);
}
.EduStepHead {
    background: transparent;
}
.educationContainer {
    width: 100%;
}
.EduStepHead {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 5px;
    color: var(--text-color);
    justify-content: space-between;
}
.hr-w1-h-transparent {
    height: 1px;
    margin: 10px 20px;
    background: rgba(249, 249, 249, 0.056);
}

.EduStepHead button {
    background: var(--dark-transparent-98);
    color: var(--text-color);
    border: none;
    padding: 8px 13px;
    border-radius: 1000px;
}
.about_me_header_top {
    color: white;
}
#abouteMeDescriotion {
    text-align: justify;
}
.slideImageContainer {
    height: 36vh;
    overflow: hidden;
}
.slideImages {
    height: 100%;
    overflow: hidden;
}
.slideImages img {
    height: 100%;
    transform: translateX(0);
    transition: transform .4s;
}
.slideImageContainer {
    position: relative;
}
.projectsImageSlideBtns button {
    border: none;
    width: 7px;
    height: 7px;
    background: rgb(149, 149, 149);
    border-radius: 10px;
    transition: background .4s;
    cursor: pointer;
}
.projectsImageSlideBtns button.active {
    background: white;
}
.projectsImageSlideBtns {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(5, 5, 5, 0.697);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 9px;
    border-radius: 100px;
}
.slideImages .animate {
    transform: translateX(-100%);
}
.imgcoverHeader {
    position: absolute;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    top: 20px;
    right: 20px;
    padding: 4px 10px;
    border-radius: 1000px;
}
.image_quantity_show {
    font-size: .9rem;
    display: flex;
    align-items: center;
    gap: 3px;
}
.imgcoverHeader.left{
    left: 20px !important;
    right: unset !important;
}
.slideImages {
    position: relative;
}
.imgcoverMain {
    position: absolute;
    bottom: calc(20px + 30px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}
.closeimgTitle {
    position: absolute;
    right: -10px;
    top: -10px;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    font-size: .6rem;
    color: white;
    background: rgba(0, 0, 0, 0.552);
    
}
.project_image_title {
    padding: 15px 15px;
    border-radius: 10px;
    background: rgba(91, 133, 142, 0.592);
    color: white;
    font-size: .9rem;
    font-weight: 100;
    height: 10vh;
    max-height: 30vh;
    text-wrap: wrap;
    overflow: auto;
}
.Used_in_project button {
    background: rgba(0, 30, 255, 0.54);
    color: white;
}
.code-view{
    background: var(--dark-transparent-99) !important;
}
.code-view a:nth-child(2) {
    background: var(--dark-transparent-97);
    color: var(--text-color)
}
#Contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.EduStepMain {
    padding: 10px;
}
.eduStep {
    padding: 14px;
    border-radius: 10px;
    background: var(--dark-transparent-98);
    width: 100%;
}
#EducationIn {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
#EducationIn {
    padding-left: 30px;
}
.eduStepHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}
.eduStepLeftSide {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;
    color: var(--text-color-80);
}

.eduStepMainPart1 {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.organizationName {
    color: rgb(225, 109, 0);
    font-size: .96rem;
}
.eduMain {
    display: flex;
    align-items: center;
    gap: 6px;
}
.edu-year-show {
    background: var(--dark-transparent-99);
    padding: 5px 10px;
    border-radius: 1000px;
}
.eduStepMainPart2 {
    border-radius: 10px;
}
.eduStepMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eduP2Content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--text-color-80);
    font-size: .86rem;
}
.showStatus {
    display: flex;
    align-items: center;
    gap: 5px;
}
.catagory {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    font-size: .9rem;
}
.catagory .icon {
    font-size: .7rem;
}
.statusValue {
    color: var(--text-color)
}
.catagoryType {
    color: var(--text-color)
}
.gpaSec {
    display: flex;
    align-items: center;
    gap: 5px;
}
.EduStepMain {
    display: flex;
    align-items: center;
}

#EducationIn {
    position: relative;
    display: inline-flex;
    width: 100%;
}
#EduDataIn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    width: 100%;
}
.eduStepIndicator {
    position: absolute;
    background: var(--dark-transparent-98);
    width: 7px;
    height: 93%;
    left: 6px;
    border-radius: 1000px;
}
.eduStep {
    position: relative;
}
.eduStep::after {
    position: absolute;
    content: "";
    border-top: 3px solid var(--bg-color);
    border-bottom: 3px solid var(--bg-color);
    border-left: 2px solid var(--bg-color);
    width: 18px;
    height: 12px;
    background: var(--dark-transparent-97);
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    border-radius: 1px;
}
.eduStep::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    border-radius: 100px;
    background: var(--dark-transparent-97);
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
}
.AboutMe {
    background: transparent !important;
}
.eduOrgan-blue {
    color: rgb(24, 108, 252);
}
.showStatus {
    text-transform: capitalize;
}
.projects-section {
    border: none;
}
.links a {
    font-size: 1rem;
    width: 33px;
    height: 33px;

}
.links button {
    width: 33px;
    height: 33px;  
}
.eduStepLeftSide span:last-child {
    font-size: .89rem;
}
.project-header-text-top {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.project-header-text-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.btns-p {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px;
    border: 1px solid var(--dark-transparent-97);
    border-radius: 100px;
}
.btns-p button {
    border: none;
    padding: 9px 16px;
    background: transparent;
    color: var(--text-color);
    border-radius: 100px;
    cursor: pointer;
    transition: background .3s;
}
.btns-p button:hover {
    background: var(--dark-transparent-99);
}
.btns-p button.active {
    background: var(--dark-transparent-97);
    color: var(--text-color)
}

.btnslider {
    position: absolute;
}
.project-head-all-btns-b {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}
/* filterBtn side */
#filterBtn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1000px;
    background: var(--dark-transparent-98);
    color: var(--text-color);
}
#RecentProjects {
    transition: height .4s;
}
.height0 {
    height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    opacity: 0 !important;
}

.errorHandlerMain {
    height: 60vh;
    width: 90%;
    max-width: 470px;
    background: var(--dark-transparent-98);
    border-radius: 20px !important;
    margin: 10px 0;
    
}
.errorHandlerText {
    color: var(--text-color-80);
    border-radius: 100px;
}
.project-header-text-top {
    text-transform: capitalize;
}
.errorhandlerMainRow1 {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    padding: 10px;
}


.errorhandlerMainRow2 {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: transparent;
    justify-content: center;
    
}
.errorHandlerText {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 3px;
}
.ErrorIcon {
    font-size: 5.5rem;
    color: var(--text-color);
}
.errorhandlerTitle {
    font-size: 1.1rem;
    color: var(--text-color)
}
.errorHandlerBtns button {
    padding: 11px 21px;
    border: none;
    border-radius: 6px;
    color: var(--bg-color);
    background: var(--text-color);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.errorHandlerBtns button i {
    font-size: .8rem;
}

.errorTextdescription {
    width: 90%;
    text-align: center;
}
.errorShow {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.errorShow p {
    color: var(--text-color);
    font-size: 1.2rem;
}
.errorShow button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: var(--text-color);
    color: var(--bg-color)
}


.errorShow button i {
    font-size: .8rem;
}
.ErrorIcon2 {
    font-size: 4rem;
    color: var(--text-color)
}
.errorData {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
}
.titleerror {
    color: var(--text-color-80);
    font-size: .9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.errorTexts p {
    font-size: 1.3rem;
}
.errorTexts {
    text-align: center;
    width: 90%;
}
#InternetErrortrybtn {
    display: flex;
    align-items: center;
    gap: 3px;
}
#InternetErrortrybtn i {
    font-size: .78rem;
}


#RecentRopos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    gap: 15px;
    padding: 20px;
    margin-top: 20px;
}
.repoimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.repoCardMain {
    width: 100%;
}
.profile a img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}
.repoCardFooter {
    width: 100%;
    padding: 10px;
    padding-top: 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.repoCardFooterRow1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}
.githubAvater {
    display: flex;
    align-items: center;
    gap: 10px;
}

.repoImgContainer {
    position: relative;
}
.repoHead {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.repoCardHeadleft span {
    padding: 11px 20px;
    background: var(--dark-transparent-v-90);
    backdrop-filter: blur(40px);
    color: white;
    border-radius: 100px;
    font-size: .7rem;
    text-transform: uppercase;
}
.repoCardHeadRight a {
    padding: 11px 11px;
    background: var(--dark-transparent-v-90);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 1000px;
    font-size: .9rem;
    
}
.repoDescription {
    margin: 7px 20px;
    color: var(--text-color-80)
}
.repoCardHeadRight {
    display: flex;
    align-items: center;
    gap: 7px;
}
.watchers_count {
    background: var(--dark-transparent-99);
    color: var(--text-color);
    padding: 9px 13px;
    border-radius: 100px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 6px;
}
.indicator-g-profile {
    position: relative;
}
.indicator-g-profile::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: rgb(0, 221, 0);
    border-radius: 100px;
    top:  5px;
    right: 2px;
}
.user-name {
    color: var(--text-color-80);
    font-size: .9rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.repoName {
    padding: 10px;
    padding-top: 5px;
    color: var(--text-color-80);
    font-size: 1.1rem;
}
.repoNameFi {
    padding: 6px 10px;
    border-radius: 100px;
    color: var(--text-color);
    position: relative;
}
.repoNameFi::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: var(--dark-transparent-40);
    border-radius: 100px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.repoCardDescriptionFooter {
    background: transparent;

}
.repoDescriptionSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.repoCardDescriptionFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--dark-transparent-98);
    padding: 9px 11px;
    border-radius: 10px;
}
.repoCardDescriptionFooter div span:nth-child(2) {
    font-size: .7rem;
}

.repoCardDescriptionFooter div span:nth-child(1) {
    font-size: .85rem;
    color: var(--text-color);
}

.repoCardDescriptionFooter div span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.repoDescriptionSectionTexts {
    font-size: .95rem;
}
.repoCardDescriptionFooter div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;

}
.repoCardDescriptionFooter div span {
    display: flex;
    align-items: center;
    gap: 4px;
}
.repoCardDescriptionFooter div span i {
    font-size: .7rem;
}

.repoDescriptionSectionTexts .descriptionText span{
    text-transform: capitalize;
    font-size: .94rem;
    color: var(--text-color);
    position: relative;
    margin-right: 10px;
}
.repoDescriptionSectionTexts .descriptionText span::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background: var(--dark-transparent-40);
    border-radius: 100px;
    top: 50%;
    transform: translateY(-50%);
    right: -8px;
}
.profile-info {
    display: flex;
    align-items: center;
    gap: 7px;
}
.profile-info button {
    width: 33px;
    height: 33px;
    border: none;
    border-radius: 1000px;
    color: var(--text-color);
    background: var(--dark-transparent-98);
    cursor: pointer;
}
.profile-info button:hover {
    background: var(--dark-transparent-97);
}
.repoimage {
    position: relative;
}
.imgOverlap {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    background: var(--dark-solid-40);
    bottom: -5px;
    border-radius: 100px 100px 0 0;
    border-top: 1px solid var(--dark-transparent-98);
}
.githubAvater {
    display: flex;
    align-items: center;

}
.githubAvater .username {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: .9rem;
    text-decoration: none;
}
.githubAvater .username:hover {
    text-decoration: underline;
}
.repoCard {
    background: var(--dark-solid-40);
    border-radius: 26px;
    overflow: hidden;
    border: 1px solid var(--dark-transparent-99);
}
.default_branch {
    text-transform: uppercase;
}
.repoimage {
    height: 35vh;
}
.repoimage.heightFix {
    height: 12vh !important;
}

.topicsContent p {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: .97rem;
    color: var(--text-color-80);
}
.topicsContent p i {
    font-size: .77rem;
}
.topicsContent {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.topics-g {
    padding: 4px;
    text-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.topics-g .topic-g {
    color: var(--text-color);
    background: var(--dark-transparent-98);
    padding: 6px 10px;
    font-size: .9rem;
    border-radius: 1000px;
}
.languageshowContent {
    display: flex;
    align-items: center;
    gap: 6px;
}
.languageshowContent p {
    font-size: .96rem;
    display: flex;
    align-items: center;
    gap: 4px;
}
.languageshowContent p i {
    font-size: .83rem;
}
.languageshowContent .languages {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    gap: 5px;
}
.languageshowContent .languages .JavaScript {
    background: transparent;
    color: rgba(255, 103, 32, 0.859);
    position: relative;
}
.languageshowContent .languages .JavaScript::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background: rgba(255, 103, 32, 0.859);
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
}
.languageshowContent .languages .TypeScript {
    color: rgb(11, 113, 255);
    position: relative;
}
.languageshowContent .languages .TypeScript::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background: rgb(11, 113, 255);
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
}
.languageshowContent .languages .SCSS {
    color: rgb(138, 35, 255);
    position: relative;
}
.languageshowContent .languages .SCSS::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background: rgb(138, 35, 255);
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
}
.languageshowContent .languages .CSS {
    color: rgb(222, 13, 250);
    position: relative;
}
.languageshowContent .languages .CSS::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background: rgb(222, 13, 250);
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
}
.languageshowContent .languages .Python {
    color: rgb(10, 221, 105);
    position: relative;
}
.languageshowContent .languages .Python::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background: rgb(10, 221, 105);
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
}
.languageshowContent .languages span {
    padding: 5px 10px;
    border-radius: 500px;
    font-size: .84rem;
}
.Branch_show_con {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--text-color-80)
}
.Branch_show_con i {
    font-size: .9rem;
}
.Branch_show_con span{
    font-size: .95rem;
    color: var(--text-color)
}
.moreOptionsBtn {
    background: transparent !important;
}
.profile-info {
    position: relative;
}
.MoreInfoMenu {
    position: absolute;
    right: 35px;
    background: var(--dark-solid-50);
    width: 170px;
    height: max-content;
    border-radius: 4px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    padding: 6px 6px;
    z-index: 999;
    transform: scale(0);
    opacity: 0;
    transition: transform .1s, opacity .4s ease;
}
.MoreInfoMenu::before {
    position: absolute;
    content: "";
    width:  25px;
    height: 12px;
    background: var(--dark-solid-50);
    right: 0px;
    top: 47%;
    transform: rotate(30deg) translateY(-50%);
}
.MoreInfoMenu a {
    display: flex;
    width: 100%;
    padding: 6px 14px;
    background: transparent;
    color: var(--text-color);
    align-items: center;
    gap: 3px;
    text-decoration: none;
    font-size: .9rem;
    
}
.MoreInfoMenu button:hover {
    background: transparent !important;
}
.MoreInfoMenu.show{
    transform: scale(1) !important;
    opacity: 1 !important;
}

.loading {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading .loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff4a4a, #4a90ff, #4affaa);
  background-size: 600% 600%; /* big for smooth movement */
  animation: gradientMove 3s ease infinite, pulseScale 2s ease-in-out infinite;
  transform: scale(0.5);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulseScale {
  0%, 100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}
#bodyLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999999;
    opacity: 1;
    transition: opacity 0.5s ease;
}
#bodyLoader.hideLoader {
    opacity: 0;
    pointer-events: none;
}
#bodyLoader .LoadingBar {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bodyLoader .LoadingBar .loader {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff4a4a, #4a90ff, #4affaa);
  background-size: 600% 600%; /* big for smooth movement */
  animation: gradientMove2 3s ease infinite, pulseScale2 2s ease-in-out infinite;
  transform: scale(0.5);
}

@keyframes gradientMove2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulseScale2 {
  0%, 100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}
.header , .aside, .main , .footer {
    display: none;
}
.showEl {
    display: unset;
}
.project-header {
    position: relative;
}

#FilterMenu {
    height: 53vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    opacity: 1;
    transition: height .3s, opacity .4s;
}
.FilterMenuWraper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 90%;
    max-width: 560px;
    height: 53vh;
    background: transparent;
    border-radius: 10px;
}
.FilterMenuHead {
    display: flex;
    flex-direction: column;
}
.SearchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchDiv {
    width: 100%;
}

.ReposFilterMenuMain .RepoShort button {
    width: 100%;
    text-align: start;
    padding: 6px;
    border: none;
    background: transparent;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    padding: 10px 8px;
}
.ReposFilterMenuMain .RepoShort button:hover {
    background: var(--dark-transparent-98);
}
.ReposFilterMenuMain .RepoShort button::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    background: var(--text-color-80);
    left: -3px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.newRepoSign {
    width: 7px;
    height: 7px;
    background: rgba(0, 187, 255, 0.802);
    border-radius: 40px;
}
.lastRepoSign {
    width: 7px;
    height: 7px;
    background: rgba(255, 0, 0, 0.703);
    border-radius: 40px;
}


.ReposFilterMenuMain .RepoShort button .filter-condition{
    display: flex;
    align-items: center;
    gap: 6px;
}
.createS {
    padding: 4px 10px;
    border-radius: 1000px;
    font-size: .6rem;
    text-transform: uppercase;
    color: var(--text-color-80)
}
.pushedS {
    padding: 4px 10px;
    border-radius: 1000px;
    font-size: .6rem;
    text-transform: uppercase;
    color: var(--text-color-80)
}
.ReposFilterMenuMain .RepoShort {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    gap: 1px;
}
.searchDiv {
    position: relative;
}
#SearchPlaceholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color-80);
    left: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .9rem;
    pointer-events: none;
    font-weight: 250;
}
#SearchPlaceholder i {
    font-size: .75rem;
}
.FilterMenuHead {
    margin-bottom: 25px;
}
.SearchSuggestContainer {
    height: 10vh;
    border-bottom: 2px solid var(--dark-transparent-98);
}
.FilterMenuHead {
    display: flex;
    flex-direction: column;
    gap: 0px;

}
.searchSuggestWraper {
    display: flex;
    align-items: center;
    gap: 3px;
}
.SearchSuggestContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    color: var(--text-color)
}
.searchDiv input {
    width: 100%;
    padding: 17px;
    border: none;
    background: transparent;
    outline: none;
    text-align: start;
    color: var(--text-color);
    background: var(--dark-transparent-98);
    border-radius: 100px;
    flex: 2;
}
#filterBtn {
    cursor: pointer;
}
#filterBtn:hover{
    background: transparent;
}
.searchInput button {
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    border: none;
    background: var(--dark-transparent-98);
    color: var(--text-color);
}
.searchInput {
    display: flex;
    align-items: center;
    gap: 10px;
   
}
#HideSearchContainer {
    cursor: pointer;
}
#SearchPlaceholder {
    opacity: 1;
    transition: opacity .2s;
}
.SearchSuggestContainer {
    transition: height .4s;
}
#loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    height: 15vh;
    opacity: 1;
    transition: height .5s, opacity .5s;
}










/* multi used classes */

.vr-border-p1 {
    width: 1px;
    height: 14px;
    background: var(--dark-transparent-97);
}
.hr-border-p1 {
    height: 1px;
    background: var(--dark-transparent-99);
}
.edu-year-show {
    color: var(--text-color-80);
    font-size: .8rem;
}
.gpaSec {
    color: var(--text-color-80);
    font-size: .8rem;
}
.indicator-green-g1 {
    width: 5px;
    height: 5px;
    background: rgb(0, 168, 14);
    border-radius: 100px;
}
.indicator-white {
    width: 4px;
    height: 4px;
    background: var(--dark-transparent-40);
    border-radius: 1000px;
}
.indicator-red {
    width: 4px;
    height: 4px;
    background: rgb(224, 0, 0);
    border-radius: 1000px;
}
.hide {
    display: none !important;
}
.overlapHide {
    display: none !important;
}


/* end */


