
@media (max-width: 768px) {
    .navigation {
        display: none;
    }
    .sidebar {
        width: 260px;
    }
    #toggleSidebar {
        display: none;
    }
    #menuToggler {
        display: block;
    }
    #sidebar.open {
    transform: translateX(0);
}

#overly {
    position: fixed;
    inset: 0;
    background: transparent;
    backdrop-filter: blur(3px);
    z-index: 99999999;
    transform: scale(0) ;
    opacity: 0;
    transition: transform .3s, opacity .4s;
}
#overly.active {
    transform: scale(1) ;
    opacity: 1;
}
.hero-wraper {
    text-align: center;
}
.my_title {
    font-size: 2.3rem;
    text-align: center;

}
.text-content-data {
    font-size: .9rem;
}
.circle:nth-child(1) {
    left: 0;
    top: 40px;
    width: calc( var(--circle-size) * 2);
    height: calc( var(--circle-size) * 2);
    filter: blur(50px);
}
.circle:nth-child(2) {
    right: -16px;
    top: 40px;
    width: calc( var(--circle-size) * 2);
    height: calc( var(--circle-size) * 2);
    filter: blur(40px);
    background: rgba(0, 128, 255, 0.402);
}
.circle:nth-child(3) {
    right: -16px;
    top: 40px;
    width: calc( var(--circle-size) * 2);
    height: calc( var(--circle-size) * 2);
    filter: blur(40px);
}

.circle:nth-child(8) {  
    right: -16px;
    top: 40px;
    width: calc( var(--circle-size) * 2);
    height: calc( var(--circle-size) * 2);
    filter: blur(40px);
}
.about {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left-side-img img {
    width: 100%;
}
.left-side-img img {
    width: 100%;
    height: 300px;
}
.left-side-img {
    padding: 0px;
}
.aboutMe-wraper {
    flex-direction: column;
}
.about_me_header_top {
    font-size: 1.3rem;
}
#Im_What {
    height: 50px;
}
.aboutMe-wraper {
    background: transparent;
}
.icon-science {
    margin-left: 0px;
}
.year-in-school {
    font-size: .8rem;
}
.ssc-gpa {
    font-size: .8rem;
}

.edu-body {
    margin-top: 30px;
    padding: 0 35px;
}
.year-and-gpa-in-collage {
    font-size: .8rem;
}
.img-about-grid-two {
    height: 40px !important;
    margin-top: 15px;
}
.MyName {
    font-size: 1.3rem;
}
#RecentProjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 16px;
    padding: 20px;
    margin-top: 20px;
}
.Used_in_project button {
    padding: 7px 15px;
    border-radius: 1000px;
    border: none;
    background: rgba(0, 247, 255, 0.139);
    color: var(--dark-transparent-40);
}
.code-view a:nth-child(2) {
    background: var(--dark-transparent-99);
    padding: 8px 15px;
    border-radius: 9px;
    color: var(--text-color);
}
.contact-child-con:nth-child(2) .contact-icon-con{
    order: 2;
    margin: 0;
    margin-left: 10px;
}
.contact-child-con:nth-child(2) .contact-body-section-con{
    order: 1;
    margin: 0;
}
.contact-child-con:nth-child(4) .contact-icon-con{
    order: 2;
    margin: 0;
    margin-left: 10px;
}
.contact-child-con:nth-child(4) .contact-body-section-con{
    order: 1;
    margin: 0;
}
.contact-data-con {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0px;
}

}

@media (max-width: 450px) {
.edu-body {
    margin-top: 30px;
    padding: 0 4px;
}
.img-about-grid-two {
    height: 40px !important;
    margin-top: 15px;
}

#RecentProjects .project {
    background: transparent;
    border: none;
}
.code-view {
    border: none;
}
#AboutMeImage {
    height: 42vh !important;
    overflow: hidden;
}

}
@media (min-width: 768px) {
    .img-about-grid-two {
    height: 190px !important;
    margin-top: 15px;
}
#RecentProjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 16px;
    padding: 20px;
    margin-top: 20px;
}

}
@media (min-width: 1024px) {
    #RecentProjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 16px;
    padding: 20px;
    margin-top: 20px;
}

.EduStepHead button {
    background: var(--dark-transparent-99);
    padding: 8px 13px;
    border-radius: 1000px;
}
}
@media (min-width: 680px) {
    #EduDataIn {
        flex-direction: row;
    }
.eduStep {
    width: unset;
}
.eduStepIndicator {
    position: absolute;
    background: var(--dark-transparent-98);
    width: 90%;
    height: 10px;
    bottom: 0;
    border-radius: 1000px;
}
.eduStep::after {
    width: 12px;
    height: 20px;
    border: none;
    border: 2px solid var(--bg-color);
    border-bottom: none;
    background: var(--dark-transparent-97);
    bottom: -35px;
    transform: translateX(-50%);
    left: 50%;
    top: unset !important;
    border-radius: 1px;
}

.eduStep::before {
    width: 20px;
    height: 3px;
    border-radius: 5px !important;
    bottom: -12px;
    left: 50%;
    top: unset;
    transform: translateX(-50%) !important;
}
.EduStepMain {
    display: flex;
    align-items: center;
    justify-content: center;
}
#EducationIn {
    width: unset;
}
#EduDataIn {
    width: unset;
}
.EduStepHead {
    justify-content: center;
    gap: 20px;
}
#EducationIn {
    padding: 0;
    padding-bottom: 35px;
}
.eduStep {
    background: var(--dark-transparent-97);
}
}